{
  admin off
  persist_config off
  auto_https off
}

:{$PORT:3000} {
  root * /app/dist

  handle /api/* {
    reverse_proxy https://admin-moderator-backend-staging.up.railway.app {
      header_up Host admin-moderator-backend-staging.up.railway.app
    }
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
